/.idea/
/vendor/
/node_modules/
.env
.env.local
.env.*.local
/uploads/
/storage/
/.vscode/
.DS_Store
Thumbs.db
/.sass-cache/
/.cache/
composer.lock
npm-debug.log
yarn-debug.log
yarn-error.log
/.history/
*.log
*.sql
/.grunt
/.sass-cache
phpunit.xml
/.env.backup